<div class="col-12">
  <form>
    <div class="shopping-edit__input">
      <div class="col-7 input-name form-group">
        <label for="Product"></label>
        <input
          type="text"
          name="name"
          id="Product"
          placeholder="Product Name"
          class="form-control"
          #productName
        />
      </div>
      <div class="form-group">
        <label for="Quality"></label>
        <input
          type="text"
          name="quality"
          id="Quality"
          class="form-control"
          placeholder="Product Quality"
          #productQuality
        />
      </div>
    </div>

    <button
      class="btn btn-success"
      type="submit"
      style="margin-right: 5px"
      (click)="onAddShoppingItem()"
    >
      Add
    </button>
    <button class="btn btn-danger" type="button" style="margin-right: 5px">
      Delete
    </button>
    <button class="btn btn-primary" type="button">Clear</button>
  </form>
</div>
